//fonts
$main-font: 'Roboto Condensed', sans-serif;
$base-font-size: 16px;
$base-font-color: #222;

//colors
$primary: #353230;
//black earth
$secondary: #666a2b;
//forest green
$secondary-lighter: lighten($secondary, 20%);
$tertiary: #864d2d;
//terra cotta
$tertiary-lighter: lighten($tertiary, 5%);

//neutrals
$off-black: #222;
$med-gray: #ccc;
$lt-gray: #eee;


* {box-sizing: border-box;}

.border {
	border: 1px solid red;
}

body {
	font-family: $main-font;
	font-size: $base-font-size;
}

.logo img {
	width: 100px;
	height: 100px;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
	width: 100%;
	margin-bottom: 20px;
}

.company-info {
	width: 35%;
	float: left;
}

.customer-info {
	float: right;
	text-align: right;
}

.invoice-info {
	width: 65%;
	float: right;
	vertical-align: top;
	text-align: right;

}

.invoice-title {
	font-size: 2em;
	margin-bottom: 5px;
}

.invoice-title textarea{
	padding: 0;
	border: 0;
	margin-bottom: -8px;
	text-align: right;
}

textarea {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1em;
	resize: none;
}

textarea:hover, textarea#due-date:hover {
	background-color: $lt-gray;
}

textarea#customer-name {
	font-weight: bold;
}

textarea#invoice-date, textarea#customer-name, textarea#customer-address-1, textarea#customer-address-2, textarea#due-date  {
	border: 0;
	padding: 0;
	margin-top: 10px;
	display: block;
	text-align: right;
}

textarea#customer-address-1, textarea#customer-address-2{
	margin-top: 0;
}

textarea#due-date {
	background-color: transparent;
	text-align: center;
	margin-top: 0;
	color: #fdf5e6;
}

textarea#due-date::-webkit-input-placeholder {
	color: #555;

}

.invoice-title div {
	font-size: 16px;

}

.invoice-amount {
	display: block;
	color: #fdf5e6;
}

.due-date {
	float: right;
	text-align: center;
	padding: 14px 20px;
	background-color: $secondary-lighter;
}

.amount-due {
	float: right;
	font-size:2.4em;
	padding: 10.5px;
	background-color: $secondary;
}

.amount-due span {
	font-size: 16px;
}

.fas {
	color: #9c040e;
}

.tax-rate-box {
	float: right;
	border: 1px solid $primary;
	margin-top: 10px;
	padding: 15px;
	width: 140px;
	text-align: center;
}

.tax-rate-box input {
	display: block;
	width: 100%;
	height: 50px;
	font-size: 24px;
	text-align: center;
	border: 0;
	border-bottom: 3px solid $med-gray;
	background-color: transparent;
}

/*tables*/

table#invoice-details, table#totals {
	width: 100%;
	border-collapse: collapse;
}

table#totals {
	font-size: 1.3em;
	text-align: right;
	margin-right: -3px;
}

table#totals tr:last-child {
	font-size: 1.2em;
	font-weight: bold;
	padding-top: 20px;
}

table#totals tr td:last-child {
	width: 60%;
}

table#totals tr:last-child td {
	padding-top: 20px;
}

table#invoice-details th {
	padding: 10px;
	background-color: $primary;
	color: #fdf5e6;
}


table#invoice-details th:nth-child(4){
	text-align:right;
}


table#invoice-details input {
	padding: 10px 5px;
}



table#invoice-details tr.item td {
	padding: 10px;
	height: 100px;

}

/*item name*/
table#invoice-details tr.item td:first-child {
	width: 60%;
	padding-left: 0;
}

/*item price*/
table#invoice-details tr.item td:nth-child(2) {
	width: 17%;
}

/*item unit price*/
table#invoice-details tr.item td:nth-child(3) {
	width: 10%;
}

/*item row price*/
table#invoice-details tr.item td:nth-child(4) {
	width: 10%;
	padding-right: 0;
	text-align: right;
}

/*delete*/
table#invoice-details tr.item td:last-child  {
	width: 3%;
	padding-right: 0;
	text-align: right;

}

/*table#invoice-details tr.item::after {
	content: 'x';
}*/
.delete-pos { position: relative; }
.delete2 { display: block; color: #000; text-decoration: none; position: absolute; background: #EEEEEE; font-weight: bold; padding: 0px 3px; border: 1px solid; top: -35px; left: -22px; font-family: Verdana; font-size: 12px; }

/*inputs*/


table#invoice-details tr.item td input {
	width: 100%;
	font-size: 1em;

}


table#invoice-details tr.item td:nth-child(2) input{
	width: 85%;
	margin-left: 5px;
}

td.totalLabel, td.taxLabel {
	padding: 10px 0;
	text-align:right;
}

//input[type=submit]
button {
	background-color: $tertiary;
	line-height: 2em;
	padding: 15px 20px;
	font-size: .86em;
	color: #fdf5e6;
	margin-top: 10px;
	border: 0;
}

input[type=submit]:hover {
	background-color: $tertiary-lighter;
}




table#invoice-details tr.item td input[name=itemName] {
	border: 0;
	border-bottom: 2px solid $med-gray;
	background-color: transparent;
	font-size: 1.4em;
}

table#invoice-details tr.item td input[name=itemUnitPrice] {
	text-align: right;
}

table#invoice-details tr.item td input[name=itemQty] {
	text-align: center;
}


.subtotal, .tax-amount, .total {
	text-align: right;
}

.clear {clear:both;}



