* {box-sizing: border-box;}

body {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
}

table#invoice-details, table#totals {
	width: 80%;
	margin: 0 auto;
	border-collapse: collapse;
}

table#totals {
	font-size: 1.3em;
}

table#invoice-details th, table#totals th {
	padding: 10px;
	background-color: #222;
	color: #fff;
}

table#invoice-details th:nth-child(4){
	text-align:right;
}

table#invoice-details input, table#totals input {
	padding: 5px;
}

table#invoice-details tr.item td , table#totals tr.item td {
	padding: 10px;
	border-bottom: 1px solid #eee;

}

table#invoice-details tr.item td:first-child, table#totals tr.item td:first-child {
	width: 47%;
	padding-left: 0;
}

table#invoice-details tr.item td:nth-child(2), table#totals tr.item td:nth-child(2) {
	width: 20%;
}

table#invoice-details tr.item td:nth-child(3) , table#totals tr td:nth-child(3) {
	width: 10%;
}

table#totals tr td:nth-child(3) {
	text-align: right;
}

table#totals tr td:nth-child(2) {
	width: 40%;
	text-align: right;
}

table#invoice-details tr.item td:nth-child(4) , table#totals tr td:nth-child(4) {
	width: 20%;
	padding-right: 0;
	text-align: right;

}
table#invoice-details tr.item td:last-child , table#totals tr td:last-child {
	width: 3%;
	padding-right: 0;
	text-align: right;

}

table#invoice-details tr.item td input, table#totals tr.item td input {
	width: 100%;
	font-size: 1em;

}

table#invoice-details tr.item td:nth-child(2) input, table#totals tr.item td:nth-child(2) input{
	width: 85%;
	margin-left: 5px;
}

td.totalLabel, td.taxLabel {
	padding: 10px 0;
	text-align:right;
}

input[type=submit] {
	background-color: #222;
	border-radius: 5px;
	line-height: 2em;
	padding-right: 20px;
	padding-left: 20px;
	font-size: .66em;
	color: #fff;
	margin-top: 10px;
}


/*row background color does not work*/
tr.item.selected {
	background-color: #eee;
}


